@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
html {
  overflow-x: hidden !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

main {
  overflow-x: hidden !important;
}

body {
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden !important;
  background: #161616;
}

a {
  text-decoration: none;
}

.__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .__container {
    padding: 0 14px;
  }
}

.header__burger {
  display: none;
}
@media screen and (max-width: 760px) {
  .header__burger {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    background: #C50077;
    border-radius: 5px;
  }
}
@media screen and (max-width: 760px) and (max-width: 390px) {
  .header__burger {
    width: 60px;
    height: 60px;
  }
}

.header__burger_line1 {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 5px;
  left: 20px;
  background: white;
  border-radius: 5px;
}

.header__burger_line2 {
  position: absolute;
  top: 30%;
  width: 70%;
  height: 5px;
  left: 9px;
  background: white;
  border-radius: 5px;
}

.first-row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 960px) {
  .first-row {
    height: 100px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media screen and (max-width: 960px) and (max-width: 960px) {
  .first-row {
    height: 150px;
  }
}
@media screen and (max-width: 960px) and (max-width: 960px) and (max-width: 760px) {
  .first-row {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    z-index: 1000;
    margin-top: 0;
    position: fixed;
    background: black;
    width: 100vw;
    height: 100%;
    padding: 30px;
    left: 0;
    top: 0;
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.first-row-see {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.header__logo {
  margin-top: -20px;
}
@media screen and (max-width: 960px) {
  .header__logo {
    margin-right: 30px;
  }
}
@media screen and (max-width: 960px) and (max-width: 760px) {
  .header__logo {
    margin-top: 0;
  }
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 225px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-filter: drop-shadow(0px 0px 30px #C50077);
          filter: drop-shadow(0px 0px 30px #C50077);
  margin-right: 10px;
}
@media screen and (max-width: 760px) {
  .header__icons {
    width: 335px;
    margin-top: 40px;
    width: 300px;
  }
}
.header__icons-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(0px 0px 30px #C50077);
          filter: drop-shadow(0px 0px 30px #C50077);
}
@media screen and (max-width: 760px) {
  .header__icons-icon {
    margin-right: 20px;
    width: 30px;
    height: 30px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 760px) {
  .header__nav {
    display: block;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 520px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #B6B6B6;
}
@media screen and (max-width: 760px) {
  .header__list {
    line-height: 130%;
    font-size: 24px;
    margin-top: 50px;
    display: block;
  }
}
.header__list a {
  color: inherit;
}

@media screen and (max-width: 760px) {
  .header__list-item {
    margin-bottom: 40px;
    margin-right: 20px;
  }
}

.header__Select {
  width: 65px;
  position: relative;
  border: 3px solid #48052E;
  -webkit-filter: drop-shadow(0px 0px 35px #C50077);
          filter: drop-shadow(0px 0px 35px #C50077);
  border-radius: 10px;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #B6B6B6;
  padding: 3px 10px;
  outline: none;
  text-align: right;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/svg/select.svg);
  background-repeat: no-repeat;
  background-position: center left 5px;
}
@media screen and (max-width: 960px) {
  .header__Select {
    margin-left: 50px;
  }
}
@media screen and (max-width: 960px) and (max-width: 760px) {
  .header__Select {
    margin-left: 0;
  }
}

.header__close {
  display: none;
}
@media screen and (max-width: 760px) {
  .header__close {
    display: block;
    top: 30px;
    right: 30px;
    position: absolute;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 5px;
  }
}
@media screen and (max-width: 760px) and (max-width: 390px) {
  .header__close {
    right: 20px;
    width: 50px;
    height: 50px;
  }
}

.header__close_line1 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 5px;
  background: black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__close_line2 {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 5px;
  background: black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__option {
  background: #48052E;
  color: black;
  outline: none;
  border: none;
}

.second-row {
  margin-top: 25px;
  max-width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}
@media screen and (max-width: 960px) {
  .second-row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 0;
  }
}

.header__list-item:hover {
  color: white;
}

.header__button {
  font-family: "Roboto Mono", monospace;
  display: block;
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  color: #FFFFFF;
  padding: 4px 9px 6px 13px;
  text-align: center;
  border: 3px solid #C50077;
  -webkit-filter: drop-shadow(0px 0px 35px #C50077);
          filter: drop-shadow(0px 0px 35px #C50077);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 960px) {
  .header__button {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 960px) and (max-width: 390px) {
  .header__button {
    padding: 3px 7px 4px 9px;
  }
}

.header__button:hover {
  background: #C50077;
}

.header__button:hover .header__button-subtext {
  color: white;
}

.header__button:hover .header__button-small {
  color: white;
}

.header__button_active {
  background: #C50077;
  color: white !important;
}

.header__button-subtext {
  display: block;
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
  color: #808080;
}

.header__button-small {
  font-weight: 700;
  font-size: 10px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #C50077;
  margin-left: 10px;
}

.blur-circle5 {
  top: 0;
  right: 0;
  position: absolute;
  border-radius: 50%;
  width: 160px;
  height: 170px;
  background: #9D129F;
  -webkit-filter: blur(128px);
          filter: blur(128px);
  z-index: -5;
}

.wallet {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.ChooseEgg {
  margin-bottom: 210px;
}
@media screen and (max-width: 425px) {
  .ChooseEgg {
    margin-bottom: 100px;
  }
}

.ChooseEgg__title {
  margin-top: 100px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #C50077;
  text-shadow: 0px 0px 35px #C50077;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .ChooseEgg__title {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.ChooseEgg__eggs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ChooseEgg__egg {
  position: relative;
  background: #141414;
  -webkit-box-shadow: 0px 0px 8px #BB7A36;
          box-shadow: 0px 0px 8px #BB7A36;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 425px) {
  .ChooseEgg__egg {
    width: 43vw;
    margin-bottom: 20px;
  }
}

.ChooseEgg__pic {
  width: 100%;
}

.egg_rare {
  -webkit-box-shadow: 0px 0px 8px #FFFFFF;
          box-shadow: 0px 0px 8px #FFFFFF;
}
.egg_rare .ChooseEgg__stroke1 {
  border-top: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 8px #FFFFFF;
          box-shadow: 0px 0px 8px #FFFFFF;
}
.egg_rare .Alleggs__eth {
  color: white;
}
.egg_rare .Alleggs__eth-icon {
  background-image: url(../img/svg/ethereum2.svg);
}
.egg_rare .ChooseEgg__stroke2 {
  border: 2px solid white;
}
.egg_rare .Alleggs__button {
  color: white;
}

.egg_epic {
  -webkit-box-shadow: 0px 0px 8px #FFF018;
          box-shadow: 0px 0px 8px #FFF018;
}
.egg_epic .ChooseEgg__stroke1 {
  border-top: 2px solid #FFF018;
  -webkit-box-shadow: 0px 0px 8px #FFF018;
          box-shadow: 0px 0px 8px #FFF018;
}
.egg_epic .Alleggs__eth {
  color: #FFF018;
}
.egg_epic .Alleggs__eth-icon {
  background-image: url(../img/svg/ethereum3.svg);
}
.egg_epic .ChooseEgg__stroke2 {
  border: 2px solid #FFF018;
}
.egg_epic .Alleggs__button {
  color: #FFF018;
}

.egg_legendary {
  -webkit-box-shadow: 0px 0px 8px #FF00FF;
          box-shadow: 0px 0px 8px #FF00FF;
}
.egg_legendary .ChooseEgg__stroke1 {
  border-top: 2px solid #FF00FF;
  -webkit-box-shadow: 0px 0px 8px #FF00FF;
          box-shadow: 0px 0px 8px #FF00FF;
}
.egg_legendary .Alleggs__eth {
  color: #FF00FF;
}
.egg_legendary .Alleggs__eth-icon {
  background-image: url(../img/svg/ethereum4.svg);
}
.egg_legendary .ChooseEgg__stroke2 {
  border: 2px solid #FF00FF;
}
.egg_legendary .Alleggs__button {
  color: #FF00FF;
}

.ChooseEgg__egg:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0px 0px 70px #BB7A36;
          box-shadow: 0px 0px 70px #BB7A36;
}
.ChooseEgg__egg:hover .ChooseEgg__stroke2 {
  background: #BB7A36;
}
.ChooseEgg__egg:hover .Alleggs__button {
  color: black;
}

.egg_rare:hover {
  -webkit-box-shadow: 0px 0px 70px white;
          box-shadow: 0px 0px 70px white;
}

.egg_rare:hover .ChooseEgg__stroke2 {
  background: white;
}
.egg_rare:hover .Alleggs__button {
  color: black;
}

.egg_epic:hover {
  -webkit-box-shadow: 0px 0px 70px #FFF018;
          box-shadow: 0px 0px 70px #FFF018;
}
.egg_epic:hover .ChooseEgg__stroke2 {
  background: #FFF018;
}
.egg_epic:hover .Alleggs__button {
  color: black;
}

.egg_legendary:hover {
  -webkit-box-shadow: 0px 0px 70px #FF00FF;
          box-shadow: 0px 0px 70px #FF00FF;
}
.egg_legendary:hover .ChooseEgg__stroke2 {
  background: #FF00FF;
}
.egg_legendary:hover .Alleggs__button {
  color: black;
}

.ChooseEgg__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  top: 5px;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 425px) {
  .ChooseEgg__type {
    font-size: 18px;
  }
}

.common_img {
  width: 70px;
  height: 70px;
  background-image: url(../img/commonicon.png);
  background-repeat: no-repeat;
  margin-top: -5px;
  margin-right: -5px;
  background-size: contain;
}
@media screen and (max-width: 425px) {
  .common_img {
    height: 50px;
    width: 50px;
  }
}

.rare_img {
  width: 70px;
  height: 70px;
  background-image: url(../img/rareicon.png);
  background-repeat: no-repeat;
  margin-top: -5px;
  margin-right: -5px;
  background-size: contain;
}
@media screen and (max-width: 425px) {
  .rare_img {
    height: 50px;
    width: 50px;
  }
}

.epic_img {
  width: 70px;
  height: 70px;
  background-image: url(../img/epicicon.png);
  background-repeat: no-repeat;
  margin-top: -5px;
  margin-right: -5px;
  background-size: contain;
}
@media screen and (max-width: 425px) {
  .epic_img {
    height: 50px;
    width: 50px;
  }
}

.legendary_img {
  width: 70px;
  height: 70px;
  background-image: url(../img/legendaryicon.png);
  background-repeat: no-repeat;
  margin-top: -5px;
  margin-right: -5px;
  background-size: contain;
}
@media screen and (max-width: 425px) {
  .legendary_img {
    height: 50px;
    width: 50px;
  }
}

.common {
  color: #BB7A36;
}

.rare {
  color: white;
}

.epic {
  color: #EBDC19;
}

.legendary {
  color: #FF00FF;
}

.ChooseEgg__stroke1 {
  border-top: 2px solid #BB7A36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 7px;
}

.Alleggs__eth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #BB7A36;
  padding: 17px 5px;
}
@media screen and (max-width: 425px) {
  .Alleggs__eth {
    font-size: 18px;
  }
}

.Alleggs__eth-icon {
  width: 26px;
  height: 26px;
  background-image: url(../img/svg/ethereum.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}
@media screen and (max-width: 425px) {
  .Alleggs__eth-icon {
    width: 24px;
    height: 24px;
  }
}

.ChooseEgg__stroke2 {
  border: 2px solid #BB7A36;
  -webkit-box-shadow: 0px 0px 8px #BB7A36;
          box-shadow: 0px 0px 8px #BB7A36;
  padding: 13px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Alleggs__button {
  margin: auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #BB7638;
  background: none;
  outline: none;
  border: none;
}
@media screen and (max-width: 425px) {
  .Alleggs__button {
    font-size: 20px;
  }
}

.blurcircle1 {
  position: absolute;
  width: 280px;
  height: 1000px;
  background: #9D129F;
  -webkit-filter: blur(166px);
          filter: blur(166px);
  bottom: -640px;
  left: -340px;
  border-radius: 50%;
  z-index: -1;
}

.blurcircle2 {
  position: absolute;
  width: 900px;
  height: 1100px;
  background: #C50077;
  opacity: 0.4;
  -webkit-filter: blur(450px);
          filter: blur(450px);
  bottom: -400px;
  right: -540px;
  border-radius: 50%;
  z-index: -1;
}

.ChooseEgg__fade {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.ChooseEgg__buy {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  padding: 50px 30px;
  max-width: 1100px;
  margin: auto;
  background: #0D0D0D;
  border: 2px solid #5F0039;
  -webkit-box-shadow: 0px 0px 8px #C50077;
          box-shadow: 0px 0px 8px #C50077;
  border-radius: 50px;
}
@media screen and (max-width: 425px) {
  .ChooseEgg__buy {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
    padding: 20px 10px;
    border-radius: 25px;
    overflow-y: scroll;
  }
}

.ChooseEgg__buy-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #C50077;
  text-shadow: 0px 0px 35px #C50077;
  margin-bottom: 20px;
}
@media screen and (max-width: 425px) {
  .ChooseEgg__buy-title {
    font-size: 36px;
  }
}

.ChooseEgg__buy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ChooseEgg__buy-emojis {
  max-width: 340px;
  background: #181818;
  border: 2px solid #262626;
  border-radius: 22px;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 10px;
  height: 400px;
  margin-right: 10px;
}
@media screen and (max-width: 425px) {
  .ChooseEgg__buy-emojis {
    height: 200px;
    overflow-y: scroll;
    padding-top: 15px;
    margin-bottom: 10px;
  }
}

.ChooseEgg__buy-selectemojis {
  max-width: 340px;
  background: black;
  border: 2px solid #141414;
  border-radius: 22px;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 10px;
  height: 400px;
  margin-right: 20px;
}
@media screen and (max-width: 425px) {
  .ChooseEgg__buy-selectemojis {
    height: 200px;
    overflow-y: scroll;
    padding-top: 15px;
    margin-bottom: 10px;
  }
}

.ChooseEgg__buy-emojisTitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #B6B6B6;
}

.ChooseEgg__buy-selectemojisTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #666666;
  margin-bottom: 20px;
}

.ChooseEgg__buy-emojisPNG {
  line-height: 135%;
  font-size: 22px;
  overflow: hidden;
}

.ChooseEgg__buy-buy {
  max-width: 325px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.ChooseEgg__buy-cost {
  width: 100%;
  padding: 7px 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #8E8E8E;
  background: #141414;
  margin-bottom: 15px;
}

.ChooseEgg__buy-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 7px 10px;
  font-weight: 400;
  font-size: 24px;
  background: #141414;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.ChooseEgg__buy-resulticon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  background-size: contain;
  background: url(../img/svg/ethereum2.svg);
  background-repeat: no-repeat;
}

.ChooseEgg__buy-button {
  padding: 10px;
  width: 100%;
  border: 2px solid #C50077;
  -webkit-filter: drop-shadow(0px 0px 35px #C50077);
          filter: drop-shadow(0px 0px 35px #C50077);
  border-radius: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #C50077;
  text-shadow: 0px 0px 35px #C50077;
  background: none;
}

.ChooseEgg__buy-button:hover {
  background: #C50077;
  color: white;
}

.footer {
  position: relative;
  border-top: 2px solid #C50077;
  -webkit-box-shadow: 0px 0px 8px #C50077;
          box-shadow: 0px 0px 8px #C50077;
}

.footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #C50077;
  opacity: 0.3;
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

.footer__row1 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 960px) {
  .footer__row1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
}

.footer__column {
  max-width: 300px;
}

.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFf;
}
@media screen and (max-width: 960px) {
  .footer__title {
    margin-top: 30px;
  }
}
.footer__title a {
  color: inherit;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #B6B6B6;
  margin-top: 15px;
  max-width: 300px;
}
.footer__item a {
  color: inherit;
}
.footer__item a:hover {
  color: white;
}

.footer__icon {
  margin-right: 15px;
}

.linksks {
  margin-bottom: 25px;
}

.footersmall {
  margin-left: 9px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #C50077;
}

.footer__row2 {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}
@media screen and (max-width: 425px) {
  .footer__row2 {
    display: none;
  }
}

.footer__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #B6B6B6;
  margin-right: 70px;
}